# تحلیل بازدید وب سایت ها با داده های شرکت یکتانت

In [4]:
import pandas as pd

### خواندن داده ها

In [5]:
df = pd.read_csv('../data/yektanet.csv')
df.tail()

,keywords,segments,visit count
219614,"['نتایج زنده', 'نتایج', 'زنده']","['maleSegment', 'varzeshi']",641
219615,"['زیرنویس', 'فارسی فیلم', 'دانلود زیرنویس']",['femaleSegment'],355
219616,"['سامان', 'ساعت']",['femaleSegment'],40
219617,"['چشم', 'تنظیم', 'رنگ', 'نرم']",['technology'],523
219618,"['خارجی', 'قوی', 'ایرانی خارجی', 'ایرانی']",['femaleSegment'],906

### وب سایت هایی که کلید واژه آن ها بیش از 1400 وب سایت را شامل میشود

In [8]:
filtered_df = df.groupby('keywords').filter(lambda x: len(x) > 1400)
filtered_df.head()

                           keywords                     segments  visit count
1   ['نتایج زنده', 'نتایج', 'زنده']              ['maleSegment']          822
3   ['نتایج زنده', 'نتایج', 'زنده']              ['maleSegment']          307
4   ['نتایج زنده', 'نتایج', 'زنده']              ['maleSegment']          778
10  ['نتایج زنده', 'نتایج', 'زنده']  ['maleSegment', 'varzeshi']          418
16  ['نتایج زنده', 'نتایج', 'زنده']              ['maleSegment']          324

### نسب بازدید های یک سایت به کل سایت های دارای یک کلید واژه

In [17]:
filtered_df['popularity']  = filtered_df.groupby('keywords')['visit count'].transform(lambda x: x / x.sum() * 100)
filtered_df.sort_values(by='popularity', ascending=False).head()

,keywords,segments,visit count,popularity
60802,"['نی', 'تبادل', 'نی سایت', 'نی نی', 'موضوعات']",['femaleSegment'],999,0.139847
113641,"['نی', 'تبادل', 'نی سایت', 'نی نی', 'موضوعات']",['femaleSegment'],999,0.139847
138539,"['نی', 'تبادل', 'نی سایت', 'نی نی', 'موضوعات']",['femaleSegment'],998,0.139707
41087,"['نی', 'تبادل', 'نی سایت', 'نی نی', 'موضوعات']","['koodakvanozad', 'salamat', 'laghari']",998,0.139707
178736,"['نی', 'تبادل', 'نی سایت', 'نی نی', 'موضوعات']","['koodakvanozad', 'salamat', 'laghari']",996,0.139427